/* You can add global styles to this file, and also import other style files */
.bar {
    background-color: lightsalmon;
    color: blueviolet;
    margin: 5px;
    padding: 5px;
}

.bckg {
    background-color: blueviolet;
}

.bckg2 {
    background-color: rgb(197, 146, 245);
}

.bubbles {
    font-size: 12px;
    font-family: 'Verdana'
}